@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    background-color: beige;
}

table {
    border-collapse: collapse;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    background-color: white;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

thead {
    box-shadow: 0  5px 20px rgba(0,0,0,.2);
}

th {
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .7rem;
    font-weight: 900;
}

td {
    padding: 1.5rem 3rem;
}

.nama {
    text-align: center;
    color: palevioletred;
}

tr:nth-child(even) {
    background-color: rgb(247, 236, 238);
}